.modalBackground {
  z-index: 1000;
  width: 100vw;
  height: 100vh;
  background-color: rgb(207, 195, 195);
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modalContainer {
  border-radius: 12px;
  width: 60vw;
  height: 60vw;
  display: flex;
  justify-content: row;
  background-color: whitesmoke;
  overflow: auto;
}

.modalContainerLeft {
  width: 50%;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.img {
  overflow: hidden;
  height: 20vw;
}

.modalContainerLeft .title {
  display: inline-block;
  text-align: center;
  margin-top: 60px;
}

.titleCloseBtn {
  display: flex;
  justify-content: flex-end;
}

.titleCloseBtn button {
  background-color: transparent;
  border: none;
  font-size: 25px;
  cursor: pointer;
}

.modalContainerLeft .bodyLeft {
  margin-top: 40px;
  flex: 50%;
  justify-content: column;
  align-items: center;
  font-size: 20px;
  text-align: center;
}

.modalContainerLeft .footerLeft {
  flex: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContainerLeft .footerLeft button {
  width: 150px;
  height: 45px;
  margin: 10px;
  border: none;
  background-color: cornflowerblue;
  color: white;
  border-radius: 8px;
  font-size: 20px;
  cursor: pointer;
}

#cancelBtn {
  background-color: crimson;
}
.modalContainerRight {
  width: 50%;
  border-radius: 12px;
  background-color: grey;
  display: flex;
  flex-direction: column;
  padding: 25px;
}
.X {
  color: black;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}
.X:hover {
  background-color: red;
}

.modalContainerRight .title {
  text-align: center;
  margin-top: 10px;
}

.bodyRight {
  margin-top: 40px;
  flex: 50%;
  justify-content: column;
  align-items: center;
  font-size: 20px;
  text-align: center;
}

.modalContainerRight .footer {
  flex: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContainerRight .footerRight {
  flex: 20%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.modalContainerRight .footerRight button {
  width: 150px;
  height: 45px;
  margin-top: 20px;
  border: none;
  background-color: cornflowerblue;
  color: white;
  border-radius: 8px;
  font-size: 20px;
  cursor: pointer;
  z-index: 1000;
}
