.personal-jobs {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.personal-jobs .carousel-control-next {
  display: none;
}
.personal-jobs .carousel-control-prev {
  display: none;
}

.carousel-personal {
  width: 100%;
}

.job-contractors-container {
  display: flex;
  justify-content: space-around;
}
