.navbar {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 3%;
}

li,
a,
button {
  font-weight: 600;
  font-size: 16px;
  color: rgb(0, 0, 0);
  text-decoration: none;
}

.logo {
  cursor: pointer;
  max-width: 70px;
}
.nav-section1 {
  justify-items: center;
  margin: 0px;
}
.nav-section1 li {
  margin: 0px;
  display: inline-block;
  padding: 0px 20px;
}
.nav-section1 li a {
  color: black;
  transition: all 0.3s ease 0s;
  text-decoration: none;
}
.nav-section1 li a:hover {
  color: #0f643c;
}
.login-button {
  padding: 9px 25px;
  background-color: #1ba463;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}
.login-button:hover {
  background-color: #0f643c;
}
