* {
  font-family: "Roboto", sans-serif;
}

.App {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.cards-container {
  display: flex;
  flex-direction: row;
  margin: 20px;
  padding: auto;
}
.bottom {
  display: flex;
}
