* {
  font-family: "Roboto", sans-serif;
}

.App {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.cards-container {
  display: flex;
  flex-direction: row;
  margin: 20px;
  padding: auto;
}
.bottom {
  display: flex;
  justify-content: space-around;
}
.footer {
  margin-top: 2rem;
  position: fixed;
  padding: 1rem;
  background-color: #f8f8f8;
  bottom: 0;
  left: 0;
  width: 100%;
}
